body{
    background-color:rgb(255,186,0) ;
}
button{
    border-radius: 200px;
    background-color: rgb(255,186,0);
}
.parent{
    font-size: 150%;
    text-align:center;      
}
.son{
    width:30%;
    float:left;
    /* padding-left: 20px; */
    /* padding-top: 100px; */
}
.class1{
    height:20%;
    padding-left: 30px;
}
.class2{
    font-size: 70%;
    color:black;
}
.daughter{
    /* width:30%; */
    float:center;
}
.class4{
     padding-left:0px; 
}
.class5{
    font-size: 70%;
    color:black;
}
.class8{
    font-size: 70%;
    color:black;
}
.cousin{
    /* width:30%; */
    float:right;
    /* padding-top: 100px ; */
}
/* mobile devices */
@media(min-width:320px) and (max-width:480px){
    body{
        background-color:rgb(255,186,0) ;
    }
    .parent{
        font-size: 150%;
        text-align:center;      
    }
    .son{
        width:30%;
        float:left;
        padding-left: 20px;
        padding-top: 100px;
    }
    .class1{
        width:70%;
        height:20%;
        padding-left: 30px;
    }
    .class2{
        font-size: 80%;
        color:black;
    }
    .daughter{
        float:center;
        padding-left:40%;
    }
    .class4{
        float: center;
        padding-left: 20%;
    }
}
    /* table device */
   @media(min-width:481px) and (max-width:768px){
    body{
        background-color:rgb(255,186,0) ;
    }
    .parent{
        font-size: 150%;
        text-align:center;      
    }
    .son{
        width:30%;
        float:left;
        padding-left: 20px;
        padding-top: 100px;
    }
    .class1{
        width:70%;
        height:20%;
        padding-left: 30px;
    }
    .class2{
        font-size: 80%;
        color:black;
    }
    .daughter{
        float:center;
        padding-left:40%;
    }
    .class4{
        float: center;
        padding-left: 20%;
    }
   }
   /* laptop devices */
   @media(min-width:769px) and (max-width:1024px){
    body{
        background-color:rgb(255,186,0) ;
    }
    .parent{
        font-size: 150%;
        text-align:center;      
    }
    .son{
        width:30%;
        float:left;
        padding-left: 20px;
        padding-top: 100px;
    }
    .class1{
        width:70%;
        height:20%;
        padding-left: 30px;
    }
    .class2{
        font-size: 80%;
        color:black;
    }
    .daughter{
        float:center;
        padding-left:40%;
    }
    .class4{
        float: center;
        padding-left: 20%;
    }
   }
   


